<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:versionCode="1"
    android:versionName="1.3"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxplan.projection.mediate.test">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="26" />

    <instrumentation
        android:label="Tests for com.cxplan.projection.mediate"
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.cxplan.projection.mediate"
        android:handleProfiling="false"
        android:functionalTest="false" />

    <application
        android:debuggable="true">

        <uses-library
            android:name="android.test.runner" />
    </application>
</manifest>
